<div class="row bottom">
    <div class="col-lg-8 col-md-8 col-sm-7 col-left">
        <div>
        <!--    <section> -->
                <div class="row text-center">
                    <div class="col-lg-12">
               
                        <!--activity image-->
                        <img class="img-responsive" <%=image_tag("132.JPG", :alt => "Project header")%>
                         
                        <!--activity title -->
                        <h1>hello i'm a fullstack rails developer</h1>
                        <h1 class="spacer">___</h1>
                        
                        <!--activity descritpion-->
                        <p class="work">Living in Atlanta</p>
                        <p>I am a mechanical engineer who has had an unyielding hidden interest in software development while laboring in the manufacturing sector for 17 years. While finding myself in between jobs in a weak market, I took ahold of my dream to become a software developer through the Iron Yard. Adding to my passions for 3D printing, making useful gadgets, and cooking up a mean Lebanese kibbe, coding has satiated my need to create something out of nothing.</p>
                    
                    </div>
                </div>   
       <!--     </section> -->
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-right">
        <div id="scroll-shadow"></div>
        
        <h1 class="visible-xs section-header">Last work</h1>
        <h1 class="visible-xs text-center spacer">___</h1>
        
        <!--work choice
        <div class="item-choice">
            <a href="#" class="filter" data-filter="all">All</a> 
            <a href="#" class="filter" data-filter="web-design"> Web design</a> 
            <a href="#" class="filter" data-filter="print"> Print</a> 
            <a href="#" class="filter" data-filter="illustration">Illustration</a>
            <hr>
        </div>-->
        <!--removed id="Grid" from div below to display images-->
        <div class="container" >
            <!--work 1-->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix web-design">
                <div class="panel panel-default item">
                    <div class="panel-heading">
                        <a href="http://www.devanage.com" target="_blank">
                        
                            <!--work image-->
                            <img class="img-responsive item-img" <%=image_tag("FinalProject.jpg", :alt => "Work 1")%>
                            
                        </a>
                    </div>
                    <div class="panel-body">
                    
                        <!--work title-->
                        <a href="http://www.devanage.com" target="_blank"><h4 class="item-title">Devanage</h4></a>
                        
                        <!--work category-->
                        <p class="item-category">Business App</p>
                        
                        <!--work short description-->
                        <p class="item-description">A business process application for managing documents.</p>
                        <hr>
                        
                        <!--work tags-->
                        <p class="item-tags">
                            <a href="#">ruby on rails</a> ,
                            <a href="#">postgresql</a> ,
                            <a href="#">heroku</a>,
                            <a href="#">bootstrap</a>
                        </p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix print">
                <div class="panel panel-default item">
                    <div class="panel-heading">
                        <a href="http://mysterious-crag-6928.herokuapp.com/" target="_blank">
                            <img class="img-responsive item-img" <%=image_tag("work/projet-example-6.jpg", :alt => "Work 2")%>
                        </a>    
                    </div>
                    <div class="panel-body">
                        <a href="http://mysterious-crag-6928.herokuapp.com/" target="_blank"><h4 class="item-title">Homework Trakker</h4></a>
                        <p class="item-category">Iron Yard</p>
                        <p class="item-description">A web application for tracking homework and homework submissions.</p>
                        <hr>
                        <p class="item-tags">
                            <a href="#">ruby on rails</a> ,
                            <a href="#">heroku</a> ,
                            <a href="#">bootstrap</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix web-design">
                <div class="panel panel-default item">
                    <div class="panel-heading">
                        <a href="http://www.testdrives.us/">
                            <img class="img-responsive item-img" <%=image_tag("test_drive420x260.png", :alt => "Work 3")%>
                        </a>    
                    </div>
                    <div class="panel-body">
                        <a href="http://www.testdrives.us/"><h4 class="item-title">Test Drive</h4></a>
                        <p class="item-category">Start Up</p>
                        <p class="item-description">A website for validating a start up idea.</p>
                        <hr>
                        <p class="item-tags">
                            <a href="#">ruby on rails</a> ,
                            <a href="#">bootstrap</a>
                        </p>
                    </div>
                </div>
            </div>
             <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix web-design">
                <div class="panel panel-default item">
                    <div class="panel-heading">
                        <a href="https://github.com/jmscholen/to_do_pair_programming_app3/tree/master/to_do_pair">
                            <img class="img-responsive item-img" <%=image_tag("to_do_pair.png", :alt => "Work 3")%>
                        </a>    
                    </div>
                    <div class="panel-body">
                        <a href="https://github.com/jmscholen/to_do_pair_programming_app3/tree/master/to_do_pair"><h4 class="item-title">ToDo App</h4></a>
                        <p class="item-category">Iron Yard</p>
                        <p class="item-description">A simple to do app done with pair programming with a class mate.</p>
                        <hr>
                        <p class="item-tags">
                            <a href="#">ruby on rails</a> ,
                            <a href="#">bootstrap</a>
                        </p>
                    </div>
                </div>
            </div>
             </div>
            </div>
        </section>
        <a class="btn btn-block scroll-top visible-xs">
            <img <%=image_tag("icon/icon-chevron.png", :alt => "Scroll top")%>
        </a>
    </div>
</div> 